In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [2]:
df= pd.read_csv('INR=X.csv')

In [3]:
df.sample(10)

           Date       Open       High        Low      Close  Adj Close  Volume
10   2020-02-10  71.504997  71.508003  71.259003  71.515503  71.515503       0
98   2020-06-11  75.875000  76.196999  75.500000  75.875000  75.875000       0
245  2021-01-04  73.092003  73.200996  72.798500  73.092003  73.092003       0
90   2020-06-01  75.513199  75.769997  75.235497  75.513199  75.513199       0
44   2020-03-27  74.725601  76.250000  73.989998  74.725601  74.725601       0
238  2020-12-24  73.839798  74.099998  73.450798  73.839798  73.839798       0
225  2020-12-07  73.790298  73.947998  73.631798  73.790298  73.790298       0
76   2020-05-12  75.927597  76.309998  75.041298  76.309998  76.309998       0
214  2020-11-20  74.099602  74.339203  74.072998  74.099602  74.099602       0
106  2020-06-23  76.000000  76.119797  75.472000  75.789803  75.789803       0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       262 non-null    object
 1   Open       262 non-null    float64
 2   High       262 non-null    float64
 3   Low        262 non-null    float64
 4   Close      262 non-null    float64
 5   Adj Close  262 non-null    float64
 6   Volume     262 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 14.5+ KB

In [5]:
df.duplicated().sum()

0

In [6]:
df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [7]:
df.shape

(262, 7)

In [15]:
X = df.drop(['Adj Close','Volume','Date'],axis=1)
Y = df['Adj Close']

In [16]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.1, random_state=2)

In [17]:
model = LinearRegression()

In [18]:
model.fit(X_train,Y_train)

LinearRegression()

In [19]:
model.score(X_train,Y_train)

1.0

In [20]:
model.predict(X_test)

array([75.789803, 75.625   , 75.158501, 76.650002, 71.300003, 75.513199,
       75.985001, 73.544899, 73.860001, 73.620003, 75.544998, 75.959999,
       76.400398, 76.2715  , 74.759804, 73.935303, 73.9953  , 73.778397,
       71.515503, 74.939903, 73.979797, 74.989998, 73.790298, 75.75    ,
       73.217003, 71.296204, 73.903999])

In [21]:
Y_test

106    75.789803
84     75.625000
120    75.158501
54     76.650002
3      71.300003
90     75.513199
85     75.985001
241    73.544899
231    73.860001
187    73.620003
93     75.544998
89     75.959999
104    76.400398
65     76.271500
130    74.759804
236    73.935303
30     73.995300
173    73.778397
10     71.515503
118    74.939903
205    73.979797
126    74.989998
225    73.790298
112    75.750000
179    73.217003
13     71.296204
35     73.903999
Name: Adj Close, dtype: float64

In [22]:
from sklearn.svm import SVR
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error

# Create an SVR model
svr = SVR()


# Train the model using the training data
svr.fit(X_train, Y_train)

# Predict the target values for the test data
y_pred = svr.predict(X_test)

# Calculate the mean squared error
mse = mean_squared_error(Y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 0.004096383777253231

In [23]:
svr.score(X_train,Y_train)

0.9974734202617809

In [24]:
model.predict(X_test)

array([75.789803, 75.625   , 75.158501, 76.650002, 71.300003, 75.513199,
       75.985001, 73.544899, 73.860001, 73.620003, 75.544998, 75.959999,
       76.400398, 76.2715  , 74.759804, 73.935303, 73.9953  , 73.778397,
       71.515503, 74.939903, 73.979797, 74.989998, 73.790298, 75.75    ,
       73.217003, 71.296204, 73.903999])

In [25]:
Y_test

106    75.789803
84     75.625000
120    75.158501
54     76.650002
3      71.300003
90     75.513199
85     75.985001
241    73.544899
231    73.860001
187    73.620003
93     75.544998
89     75.959999
104    76.400398
65     76.271500
130    74.759804
236    73.935303
30     73.995300
173    73.778397
10     71.515503
118    74.939903
205    73.979797
126    74.989998
225    73.790298
112    75.750000
179    73.217003
13     71.296204
35     73.903999
Name: Adj Close, dtype: float64